*{
    box-sizing: border-box;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D8BFD8;
    color: #9370DB;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 3px 0 #40E0D0;
}

.btn:active{
    box-shadow: none;
    position: relative;
    top: 3px;
}